.navbar-dashboard {
  box-shadow: 0 0 5px rgba(0, 0, 0, 5);

  height: 50px;

  position: fixed;

  left: 0;

  right: 0;

  display: flex;
  justify-content: space-between;

  align-items: center;

  padding: 0 1rem;

  z-index: 99;

  background: var(--white);
}
.navbar-dashboard ul li {
  position: relative;
}

.navbar-dashboard .menu-icon {
  border: none;
  height: 30px;

  width: 30px;
  display: flex;

  align-items: center;
  display: flex;
  justify-content: center;
  background: var(--skyBlue);
  color: var(--white);
  font-weight: 600;
  font-size: 20px;
  display: none;
}

.navbar-dashboard .dashboard-navbar-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-dashboard .navbar-ease-navigation ul {
  display: flex;
}

.navbar-dashboard .navbar-ease-navigation ul li {
  margin-left: 20px;
  height: 35px;
  width: 35px;
  background: #ababab;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.navbar-dashboard .customers-sidebar {
  position: absolute;
  z-index: 99;
  background: var(--white);
  top: 125%;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  height: calc(100vh - 50px);
  overflow-y: scroll;
  display: none;
}
.navbar-dashboard .customers-sidebar.active {
  display: initial;
}
.navbar-dashboard .customers-sidebar .col {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-dashboard .customers-sidebar .row {
  margin-bottom: 1.5rem;
}
.navbar-dashboard .customers-sidebar .col .profile-image {
  height: 40px;
  width: 40px;
  background: green;
  border-radius: 50%;
  margin-right: 0.3rem;
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
}
.navbar-dashboard .customers-sidebar .input-group input {
  border: none;
  outline: none;
}
.navbar-dashboard .customers-sidebar .input-group {
  padding: 0.5rem 1rem;
  border: 1px solid var(--darkGray);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.navbar-dashboard .customers-sidebar .customer-main {
  margin-top: 1rem;
}
.navbar-dashboard .navbar-ease-navigation ul li:hover {
  background: var(--skyBlue);
}
.navbar-dashboard .navbar-ease-navigation ul li a {
  display: block;
  font-size: 10px;
  color: var(--white);
}
.navbar-dashboard .logo-text {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--pinkRed);
}

.navbar-dashboard .navbar-ease-navigation .mobile {
  position: relative;
}
.navbar-dashboard .customer-number {
  font-size: 11px;
  line-height: 1.3rem;
  letter-spacing: 1px;
  color:gray;
}
.navbar-dashboard .navbar-ease-navigation .mobile .drop-down-menu {
  position: absolute;
  top: 120%;
  z-index: 99;
  background: var(--white);
}
.navbar-dashboard .navbar-ease-navigation .mobile .drop-down-menu ul {
  display: flex;
  flex-direction: column;

  list-style: none;
  width: 300px;

  box-shadow: 0 0 5px rgb(0, 0, 0, 0.25);
}

.navbar-dashboard .navbar-ease-navigation .mobile .drop-down-menu ul li {
  margin-left: 0;
  width: 100%;
  border-radius: 0%;
  cursor: pointer;
  background: transparent;
}

.navbar-dashboard .navbar-ease-navigation .mobile .drop-down-menu ul li a {
  color: var(--black);
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid var(--pinkRed);
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.5s;
}
.navbar-dashboard
  .navbar-ease-navigation
  .mobile
  .drop-down-menu
  ul
  li
  a:hover {
  background: var(--pinkRed);
  color: var(--white);
}

.navbar-dashboard .navbar-ease-navigation .mobile .drop-down-menu ul li:hover {
}
.navbar-dashboard .search-bar input {
  border: none;
  height: 100%;
  width: 100%;
  outline: none;
}
.navbar-dashboard .search-bar {
  height: 40px;
  border: 1px solid var(--darkGray);
  padding: 5px;
  border-radius: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-dashboard .search-bar:focus {
  border: 1px solid var(--pinkRed);
}

@media (max-width: 904px) {
  .navbar-dashboard .menu-icon {
    display: block;
  }
}

@media (max-width: 780px) {
  .navbar-dashboard .search-bar {
    display: none;
  }
}
@media (max-width: 520px) {
  .navbar-dashboard .navbar-ease-navigation ul .mobile {
    display: none;
  }
}
