@media (max-width: 698px) {
  .row.header .main-header {
    flex-direction: column;
  }
  .row.header .col.client {
    margin-top: 3rem;
  }
}
.row.header.main-header .col:nth-child(1) p{

  margin-bottom:1rem;

}
