@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

:root {
  --bg-color: rgb(250, 251, 251);
  --pinkRed: #ff004f;
  --white: #fff;
  --black: #000;
  --skyBlue: #0092ff;
  --darkGray: #999;
  --mobile-font: 13px;
}
*::-webkit-scrollbar {
  width: 6px; /* Make the scrollbar thinner */
}

/* To make the tabs stretch across the entire width */
.ant-tabs-nav {
  display: flex !important;
  justify-content: space-between;
}

.ant-tabs-tab {
  flex: 1;
  text-align: center;
}

/* Optional: Style the toggle button to align with the tabs */
.toggle-button {
  display: inline-block;
  padding-left: 10px;
}

*::-webkit-scrollbar-track {
  background: var(
    --bg-color
  ); /* Set the background color of the scrollbar track */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--darkGray); /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Add rounded corners */
  border: 2px solid var(--bg-color); /* Add padding around the scrollbar thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--black); /* Darker color on hover */
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin; /* Make the scrollbar thin */
  scrollbar-color: var(--darkGray) var(--bg-color); /* Thumb and track colors */
}

body {
  background-color: var(--bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;

  margin: 0 auto;

  padding: 0 2rem;
}
.hero-btn {
  padding: 0.5rem 2.5rem;

  border-radius: 5px;

  border: none;

  background: var(--pinkRed);

  transition: all 0.5s;

  color: var(--white);

  cursor: pointer;
}
.action-btn {
  padding: 0.5rem 2.5rem;

  border-radius: 5px;

  border: none;

  background: var(--pinkRed);
  color: var(--white);
  cursor: pointer;
}
.hero-btn:hover {
  background: var(--skyBlue);
}
.medium-header {
  font-size: 1.2rem;
  color: var(--skyBlue);
  font-weight: 600;
}

.empty {
  padding-top: 54px;
}

.row {
  display: flex;

  justify-content: space-between;

  align-items: center;
}
p {
  font-size: var(--mobile-font);
  font-weight: 500;
}
.table-wrapper {
  width: 100%;
  overflow-x: scroll;
}

.table-wrapper table {
  width: 100%;
  min-width: 900px;
  border-collapse: collapse;
}
table td {
  padding: 1rem 1rem;
}

table td .table-buttons {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

table td .table-buttons button {
  border: none;

  width: 30px;

  height: 30px;

  background: var(--skyBlue);

  color: var(--white);

  transition: all 0.5s;

  cursor: pointer;
}

table td .table-buttons button:hover {
  background: var(--pinkRed);
}

table td .table-buttons button:nth-child(2) {
  margin-left: 10px;
}

.modal {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  width: 100%;

  height: 100vh;

  z-index: 99;

  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));

  display: flex;

  align-items: center;

  justify-content: center;

  align-items: center;

  flex-direction: column;
}

.modal .modal-wrapper {
  background: var(--white);

  max-width: 1000px;

  position: relative;
}
.header-ul {
  display: flex;
  border-bottom: 2px solid var(--skyBlue);
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
}
.header-ul li {
  padding: 1rem 0rem;
  position: relative;
  cursor: pointer;
  transition: All 0.5s;
}

.header-ul li:nth-child(1)::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--skyBlue);
  bottom: 0;
  left: 0;
}

.modal .modal-wrapper .modal-wrapper-container {
  max-height: calc(100vh - 50px);

  width: 100%;

  padding: 2rem;

  overflow: scroll;
}
.toggle-button {
  cursor: pointer;
  margin-left: 10px;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.sub-header {
  font-size: 1.5rem;
  color: var(--skyBlue);

  font-weight: 600;
}

.toggle-button.rotate {
  transform: rotate(90deg);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.small-navigation-btn {
  width: 30px;
  border: none;
  padding: 10px;
  height: 30px;
  color: var(--white);

  background: var(--skyBlue);

  display: flex;

  justify-content: center;

  align-items: center;

  cursor: pointer;

  font-size: 2rem;
}
.small-navigation-btn span {
  font-size: 1.4rem;
}
.dashboard table thead {
  border-bottom: 2px solid var(--skyBlue);
  background: var(--skyBlue);
  color: var(--white);
}
.dashboard table tr td {
  font-size: var(--mobile-font);
  font-weight: 500;
}

table thead tr {
  border-bottom: 2px solid var(--skyBlue);
}
table tbody tr {
  border-bottom: 1px solid var(--darkGray);
}

.main-displayer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.main-displayer .col:nth-child(1) {
  flex-basis: 40%;
}
.main-displayer .col:nth-child(2) {
  flex-basis: 55%;
}

.main-displayer label {
  font-size: var(--mobile-font);
}
.main-displayer .col:nth-child(2) .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.main-displayer .col:nth-child(2) .grid input {
  border: none;
  outline: none;
  padding-left: 8px;
}
.main-displayer .col:nth-child(2) .grid .input-group {
  height: 40px;

  display: flex;
  justify-content: center;

  align-items: center;

  width: 100%;

  border: 1px solid var(--darkGray);
}
.main-displayer .custom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.main-displayer .custom-row input {
  height: 30px;
}
textarea {
  width: 100%;
}

.main-displayer .col:nth-child(1) {
  justify-content: space-between;
}
.main-displayer .col:nth-child(1) .row p:nth-child(3) {
  flex-basis: 60%;

  text-align: center;
}

@media (max-width: 1064px) {
  .main-displayer {
    flex-direction: column;
  }
}
@media (max-width: 466px) {
  .main-displayer .col:nth-child(2) .grid {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 2rem;
  }
  .main-displayer .col:nth-child(2) .grid input {
    width: 100%;
  }
}
