.dashboard.customers .customers-ul {
  display: flex;
  border-bottom: 2px solid var(--skyBlue);
  justify-content: space-between;
  margin-top: 2rem;
}
.dashboard.customers .customers-ul li {
  padding: 1rem 0rem;
  position: relative;
  cursor: pointer;
}

.dashboard.customers .customers-ul li:nth-child(1)::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background: var(--skyBlue);
  bottom: 0;
  left: 0;
}
